.flex-container2 {
    background-color: #bcc4cd;
    max-width: 90%;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
}

.flex-container2 {  
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

flex-item2 {
    font-weight: bold;
    background-color: #7c7979;
    height: 50px;
    width: 100%;
    flex-basis: 300px;
    flex: 1;
}
