<div class="flex-container">
    <nav class="navbar navbar-default">
        <div class="container-header">
            <a class="navbar-brand" routerLink="">Mulsann</a>
            <button routerLink="women">Women</button>
            <button routerLink="men">Men</button>
            <button routerLink="admin/products">Admin</button>
            <!-- <input type="text" placeholder="Search..."> -->
            <!-- <button class="myacount-dropdwon"></button>
            <button class="favorite-item">&#9829;</button>
            <button class="bag"></button> -->
        </div>
    </nav>
</div>
<div class="sub-header-container" *ngIf="subHeaderVisibility()">
    <nav>
        <div class="flex-container2">
            <button class="sale"><span>Sale</span></button>
            <button class="newin" data-index="2" aria-expanded="false" data-testid="primary new-button"><span>New
                    in</span></button>
            <button class="clothing"><span>Clothing</span></button>
            <button class="shoes"><span>Shoes</span></button>
            <button class="accessories"><span>Accessories</span></button>
        </div>
    </nav>
</div>
<div class="sub-header-container" *ngIf="adminVisibility()">
    <nav>
        <div class="flex-container2">
            <button class="products" routerLink="admin/products">Products</button>
            <button class="cetegory" routerLink="admin/category">Category</button>
        </div>
    </nav>
</div>
