<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="container-header">
            <a href="#" class="navbar-brand">Clothing Shop</a>
        </div>
        <div class="clollapse navbvar0collapse">
            <ul class="nav navbar-nav">
                <li><button><a href="#">Women</a></button></li>
                <li><button><a href="#">Men</a></button></li>
            </ul>
            <input type="text" placeholder="Search..">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <li></li>
                        <li></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><button class="myacount-dropdwon"></button></li>
                <li><button class="favorite-item"></button></li>
                <li><button class="bag"></button></li>
            </ul>
        </div>
    </div>
</nav>