<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <title>Document</title>
</head>

<body>

</body>
<div>

    <body>
        <header>
            <div class="flex-container">
                <nav class="navbar navbar-default">
                    <div class="flex-item">
                        <div class="container-header">
                            <a href="#" class="navbar-brand">Clothing Shop</a>
                            <button><a href="women">Women</a></button>
                            <button routerLink="men">Men</button>
                            <button routerLink="products">Products</button>
                            <input type="text" placeholder="Search...">
                            <button class="myacount-dropdwon"></button>
                            <button class="favorite-item"></button>
                            <button class="bag"></button>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main>

        </main>
        <footer>
            
        </footer>
        <main>
            <div class="page-container"></div>
        </main>
    </body>
</div>

</html>