<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href=""><i>About Us</i></a></li>
                    <li><a href=""><i>Our services</i></a></li>
                    <li><a href=""><i>Privacy policy</i></a></li>
                    <li><a href=""><i>Affiliate program</i></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href=""><i>FAQ</i></a></li>
                    <li><a href=""><i>Shipping</i></a></li>
                    <li><a href=""><i>Returns</i></a></li>
                    <li><a href=""><i>Order status</i></a></li>
                    <li><a href=""><i>Payment options</i></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <ul>
                    <li><a href=""><i>Facebook</i></a></li>
                    <li><a href=""><i>Instagram</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>