<!-- 5 cl   index name quantity price active 
construiesc array
afisare header
afisare valori ngFor
pe coloana activ - checkbox folosing ngIf
buton stergere
-->


<br>
<br>
<div>
  <form #productForm="ngForm">
    <label for="ref">Ref</label>
    <input type="number" name="ref" [(ngModel)]="newProduct.ref">
    <br>
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="newProduct.name" minlength="1">
    <span *ngIf="productForm.controls['name']?.hasError('minlength')">Name is required</span>
    <br>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" [(ngModel)]="newProduct.quantity" required [min]="1">
    <br>
    <span *ngIf="productForm.controls['quantity']?.hasError('min')">Value must be greater than or equal to 1</span>
    <br>
    <label for="price">Price</label>
    <input type="number" name="price" [(ngModel)]="newProduct.price" required [min]="1">
    <br>
    <span *ngIf="productForm.controls['price']?.hasError('min')">Value must be greater than or equal to 1</span>
    <br>
    <label for="active">Active</label>
    <input type="checkbox" name="active" [(ngModel)]="newProduct.active">
    <br>
    <button type="button" (click)="populateTable()">Populează Tabelul</button>
    <!-- <button type="button" (click)="populateTable(productForm.controls[])">Populează Tabelul</button> -->
  </form>
</div>
<br>
<div>
  <table border="">
    <thead>
      <tr>
        <th>Index</th>
        <th>Ref</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of tableData; let i = index">
        <td>{{i}}</td>
        <td>{{product.ref}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td><input type="checkbox" [ngModel]="product.active" [readonly]="true">
        </td>
        <td><button (click)="removeProduct(i)">removeProduct</button></td>
      </tr>
    </tbody>
  </table>
</div>




<!-- arrays -partea de operatii
  mutarea indexului de pe obiect pe indexul din ngFor care este autoincrementat (46)
  
  display flex html
  justify content
  aligne items
  flex direction
 -->