<!-- <div class="flexible-benner">
    <a href="#">
        <div>
            <p> 25% OFF<br>WINTER WARMERS!</p>
            <p> More layers, more deals</p>
            <p> WITH CODE: </p>
            <p><br>Valid on selected pruducts only. See website benner for full Ts&Cs.</p>
        </div>
    </a>
</div>
<section class="video-container"></section> -->

<div class="homepage">
    <div class="directory-menu">
        <div class="undifiend menu-item">
            <div class="background-image"><img src="./.angular/imagies/2489679.webp" alt="imagine fundal SALE">
            </div>
            <div class="content">
                <h1 class="title">SALE</h1><span>SHOP NOW</span>
            </div>
        </div>
        <div class="undifiend menu-item">
            <div class="background-image">
            </div>
            <div class="content">
                <h1 class="title">NEW IN</h1><span>SHOP NOW</span>
            </div>
        </div>
        <div class="undifiend menu-item">
            <div class="background-image">
            </div>
            <div class="content">
                <h1 class="title">CLOTHING</h1><span>SHOP NOW</span>
            </div>
        </div>
        <div class="undifiend menu-item">
            <div class="background-image">
            </div>
            <div class="content">
                <h1 class="title">SHOES</h1><span>SHOP NOW</span>
            </div>
        </div>
        <div class="undifiend menu-item">
            <div class="background-image">
            </div>
            <div class="content">
                <h1 class="title">ACCESSORIES</h1><span>SHOP NOW</span>
            </div>
        </div>
    </div>

</div>

<!-- 
<div class="middle-sale-benner-container">
    <h4>UP TO 50% OFF SWEET THREAD</h4>
</div> -->